@media(max-width: 650px) {
  body{
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);

  }

  .showcase {
    height: 50rem;
    &-content {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      flex-direction: column;

      div:first-child {
        order: 2;
      }
    
      div:last-child {
        order: -1;
      }
    }
  }
}